.container {
    position: fixed;
    background: white;
    box-sizing: 100%;
    width: 100%;
    display: flex;
    top: 0;
    align-items: center;
    z-index: 10;
}

.nav {
    display: flex;
    width: 85%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 30px;
    padding: 8px;
}

.logo {
    text-align: center;
    font-family: Raleway;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.14px;
    background: linear-gradient(122deg, #0096FF 42.14%, #0048FF 96.70%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.options {
    display: flex;
    font-weight: 100;
    align-items: center;
    gap: 12px;
}


.options>p {
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.joinButton {
    display: flex;
    height: 30px;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 52px;
    background: linear-gradient(224deg, #0048FF 0%, #0096FF 100%);
    border: none;
    color: #fff;
}