.main {
    display: flex;
    align-items: center;
    gap: 25px;
}

.svg {
    width: 25px;
    height: 30px;
    margin-right: 10px;
}

.svg path {
    fill: white;
}

.icon {
    position: relative;
}

.text {
    position: absolute;
    bottom:-.5px;
    left: 4px;
    font-size: 10px;
}

.slash {
    position: absolute;
    width: 1px;
    height: 24px;
    transform: rotate(45deg);
    border-radius: 16px;
    background: #fff;
    margin: -30px 20px 70px 12px;
}

.whiteWord {
    color: white;
}

.firstWord {
    color: #0096FF;
}

.lastWord {
    color: #0096FF;
}