.main {
    display: flex;
    align-items: center;
    gap: 25px;
}

.svg {
    width: 25px;
    height: 30px;
    margin-right: 10px;
}

.svg path {
    fill: white;
}

.whiteWord {
    color: white;
}

.firstWord {
    color: #0096FF;
}

.lastWord {
    color: #0096FF;
}