.container {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 30;
    left: 0;
    background-image: url('../../assest/images/BackGround.png');
    height: 100vh;
    box-sizing: 100%;
    width: 100%;
    color: white;
}