.signup-subscribe-section {
	display: flex;
	justify-content: space-around;
	height: 42px;
	align-items: center;
	margin-top: 30px;
}

.signup-subscribe-section>div {
	height: 36px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.signup-subscribe-section>div>div {
	height: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.signup-subscribe-section>div>div:first-child {
	width: 26px;
	height: 26px;
	border-radius: 1000px;
	background: #0096ff;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	color: white;
	margin-bottom: 5px;
}

.subscriptionplan {
	color: #3c4852;
	font-family: Roboto;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	text-align: center;
	margin-top: 28px;
}



hr {
	margin-top: 20px;
	width: 100%;
}

.subscription {
	display: flex;
	width: 90%;
	height: 20px;
	justify-content: space-between;
	margin: auto;
	align-items: center;
	margin-top: 10px;
}

.total {
	font-weight: 500;
}

.finalPricing {
	font-weight: 700;
}

.buttons {
	display: flex;
	justify-content: space-between;
	margin-top: 25px;
	margin-bottom: 20px;
}



.secondary-button {
	display: flex;
	height: 40px;
	width: 48%;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	border: 2px solid #F77171;
	color: #F77171;
	text-align: center;
	font-family: Roboto;
	font-size: 14px;
	font-style: normal;
	text-transform: uppercase;
}

.primary-button {
	border: none;
	display: flex;
	height: 40px;
	width: 48%;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	background: #47BA68;
	color: #FFF;
	text-align: center;
	font-family: Roboto;
	font-size: 14px;
	font-style: normal;
	text-transform: uppercase;
}